<div class="mdui-row">
    <% if (theme.links.description) { %>
        <div class="mdui-col-xs-12 mdui-typo">
            <%- theme.links.description %>
        </div>
    <% } %>
    <% Object.keys(theme.links.list).forEach(item => { %>
        <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-4">
            <div class="mdui-card mdui-hoverable mdui-m-y-1 akarin-util-rounded-5">
                <a
                    href="<%= theme.links.list[item].link %>"
                    target="_blank"
                    class="mdui-valign"
                    style="text-decoration:none"
                >
                <div class="mdui-p-a-1 mdui-text-color-theme-text" style="flex-grow:1;overflow-x:hidden">
                    <div class="mdui-typo-title mdui-text-truncate"><%= item %></div>
                    <div class="mdui-typo-caption-opacity mdui-text-truncate mdui-m-t-1"><%= theme.links.list[item].description %></div>
                </div>
                <img src="<%= theme.links.list[item].avatar || theme.links.default_avatar %>" style="height:64px">
                </a>
            </div>
        </div>
    <% }) %>
</div>