<div class="mdui-valign mdui-m-t-2">
    <% if (page.prev) { %>
        <a href="<%= url_for(is_post() ? page.prev.path : page.prev_link) %>" class="mdui-btn mdui-btn-icon mdui-ripple">
            <i class="mdui-icon material-icons">chevron_left</i>
        </a>
    <% } else { %>
        <button class="mdui-btn mdui-btn-icon mdui-ripple" disabled>
            <i class="mdui-icon material-icons">chevron_left</i>
        </button>
    <% } %>
    <% if (is_post() && page.prev) { %>
        <span class="mdui-typo-body-1-opacity mdui-m-l-1 mdui-text-left" title="<%- page.prev.title %>">上一篇</span>
    <% } %>

    <span class="mdui-typo-body-1-opacity mdui-text-center" style="flex-grow:1">
        <% if (!is_post()) { %>
            <%= page.current %> / <%= page.total %>
        <% } %>
    </span>

    <% if (is_post() && page.next) { %>
        <span class="mdui-typo-body-1-opacity mdui-m-r-1 mdui-text-right" title="<%- page.next.title %>">下一篇</span>
    <% } %>

    <% if (page.next) { %>
        <a href="<%= url_for(is_post() ? page.next.path : page.next_link) %>" class="mdui-btn mdui-btn-icon mdui-ripple">
            <i class="mdui-icon material-icons">chevron_right</i>
        </a>
    <% } else { %>
        <button class="mdui-btn mdui-btn-icon mdui-ripple" disabled>
            <i class="mdui-icon material-icons">chevron_right</i>
        </button>
    <% } %>
</div>